/CE/heart_rate_monitor/staticfiles
*staticfiles
*__pycache__
/CE/heart_rate_monitor/__pycache__
*__pycache_/_*
migrations/*
*hidden.py
/CE/heart_rate_monitor/myapp/hidden.py 
/CE/heart_rate_monitor/heart_rate_monitor/hidden.py
*terraform.tfvars
*terraform.tfstate.*
*terraform.tfstate
*terraform_modules/*
