<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Device List</title>
</head>
<body>
    <div style="text-align: center;">
        <button type="button"><a href="{% url 'home' %}">Home</a></button>
    </div>

    <h2 style="text-align: center;">Device List</h2>
    
    <div class="device-list">
        {% for device in devices %}
        <div class="device-card" id="device-{{ device.id }}">
            <h3><span style="color: rgb(34, 159, 231);">{{ device.device_name }}</span></h3>
            <h5>Device ID: <span style="color: rgb(34, 159, 231);">{{ device.id }}</span></h5>
            <p id="device-status">Current Status: 
                <span {% if device.status == 'ON' %}style="color: green"{% else %}style="color: red"{% endif %}>
                    {{ device.status }}
                </span>
                <span>owner: {{device.user.username }}</span>
            </p>
                        <button type="button"><a href="{% url 'heartbeat' %}?id={{ device.id }}">Monitor Heartbeat</a></button>
        </div>
        {% empty %}
            <p>No devices found for your account.</p>
        {% endfor %}
    </div>
</body>
<footer>
    <div style="text-align: center;">
        <button type="button"><a href="{% url 'add_device' %}" style="margin-left: 50px;margin-top: 20px;">Add Device</a></button>
    </div>
</footer>
</html>
