<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Heart Rate Monitor</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'device_list' %}">View Devices</a>
        <a href="{% url 'user_list' %}">User List</a>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
</body>
</html>
